:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  width: 100%;
  min-width: 0;

  table {
    height: 100%;
    width: 100%;
    min-width: 0;
    border-spacing: 0;
    position: relative;
    border: transparent;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    thead {
      width: 100%;
      left: 0;
      top: 0;
      z-index: 3;
      position: sticky;
      display: flex;
      border-bottom: 0.5px solid #e4e4e6;
      th {
        padding: 0px 8px;
      }
      th:hover .icon-sort {
        opacity: 1 !important;
        cursor: pointer !important;
      }
      .icon-sort {
        width: 20px;
        height: 20px;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
    tbody {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      tr {
        background: rgba(255, 255, 255, 70%);
        td {
          padding: 0px 8px;
        }

        &:hover {
          background: rgba(255, 255, 255, 95%);
        }
      }
    }

    .table_sticky {
      display: flex;
      position: sticky;
      z-index: 2;
      &-left {
        left: 0;
      }
      &-right {
        right: 0px;
        width: 100%;
      }
    }
  }
}

::ng-deep{
  .mat-mdc-form-field-infix{
    min-width: 15px !important;
    height: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
.search-bar {
	height: 50px;
	display: flex;
	width: 100%;
	max-width: 600px;
	border-radius: 5px;
  background: rgba(255, 255, 255, 70%);
	input {
		width: 100%;
		height: 100%;
		border: none;
		// background-color: var(--search-bg);
		border-radius: 4px;
		font-family: var(--body-font);
		font-size: 15px;
		font-weight: 500;
		padding: 0 20px 0 40px;
		box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
		background-size: 14px;
		background-repeat: no-repeat;
		background-position: 16px 48%;
		color: var(--theme-color);

		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&::placeholder {
			font-family: var(--body-font);
			color: var(--inactive-color);
			font-size: 15px;
			font-weight: 500;
		}
	}
}

.word-break {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
